/* Upper bar */

.upper-bar {
    background-color: #add8e6;
    height: 80px;
    width: 100%;
    padding: 20px 0 20px 0;
}

.container> div {
    height: 40px;
    width: 300px;
    background-color: #daa520;
    border: 2px dashed black;
}

.nav-bar {
    height: 40px;
    background-color: #daa520;
    min-width: 400px;
    border: 2px dashed black;
    /* Flex */
    flex-grow: 1;
}

/* First */

.first {
    height: 360px;
    /* Flex */
    justify-content: center;
    align-items: center;
    background-color: #00008b;
}

.first-box {
    height: 300px;
    width: 600px;
    border: 2px dashed black;
    background-color: #ee82ee;
}


/* Second */