/* Utils */

.container {
	max-width: 1100px;
	margin: 0 auto;
}

/* .clearfix::after {
	content: '';
	clear: both;
	display: table;
} */

.d-flex {
	display: flex;
}

.dash {
    border: 2px dashed black;
}